<template>
    <div>
        <p>{{ $route.params.id }}</p>
        <p>Es-tu là ?</p>
        <ul>
            <li><router-link :to="{ name: 'a.b' }">Vers la page B</router-link></li>
            <li><router-link :to="{ name: 'a.c' }">Vers la page C</router-link></li>
        </ul>
        <router-view/>
    </div>
</template>

<script>
    export default {}
</script>
