<template>
  <div id="app">
    <div class="ui inverted menu">
      <div class="ui container">
        <router-link :to="{name: 'home' }" class="header item">Accueil</router-link>
        <router-link :to="{name: 'cards' }" class="item">Cartes</router-link>
        <router-link :to="{name: 'a-alone' }" class="item">Page A with childrens</router-link>
        <router-link :to="{name: 'a', params: { id: 1 } }" class="item">Page A works</router-link>
      </div>
    </div>
      <router-view/>
  </div>
</template>

<script>
export default { 
  name: 'App'
}
</script>

<style>
</style>
